UnityDecoration {
    -UnityDecoration-extents: 26px 3px 3px 3px;
    -UnityDecoration-input-extents: 15px;

    -UnityDecoration-shadow-offset-x: 0px;
    -UnityDecoration-shadow-offset-y: 0px;
    -UnityDecoration-active-shadow-color: rgba(0,0,0,0.5);
    -UnityDecoration-active-shadow-radius: 6px;
    -UnityDecoration-inactive-shadow-color: rgba(0,0,0,0.3);
    -UnityDecoration-inactive-shadow-radius: 6px;

    -UnityDecoration-glow-size: 1px;
    -UnityDecoration-glow-color: @theme_selected_bg_color;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
	/*
    border: 0px solid mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.21);
    * */
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    padding: 1px 8px 0 8px;
    background-color: @titlebar_bg_color;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
    text-shadow: 0 1px 0 alpha(@light_shadow, 0.9);
}

UnityDecoration.top:backdrop {
	/*
    border: 0px solid mix(shade(@titlebar_bg_color, 0.7), @titlebar_fg_color, 0.12);
    * */
    border-bottom-width: 0;
    border-radius: 6px 6px 0 0;
    background-color: @titlebar_bg_color;
    color: mix(@titlebar_fg_color, @titlebar_bg_color, 0.4);
    text-shadow: 0 1px 0 alpha(@light_shadow, 0.9), 0px 0px 1px @light_shadow;
}


UnityDecoration.left,
UnityDecoration.right,
UnityDecoration.bottom {
    background-color: alpha(@titlebar_bg_color, 0.99);
}

UnityDecoration.top:backdrop,
UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop,
UnityDecoration.bottom:backdrop {
    background-color: alpha(@titlebar_bg_color, 0.80);
}

UnityDecoration.bottom,
UnityDecoration.bottom:backdrop {
    border-radius: 0 0 6px 6px;
}

UnityDecoration.bottom:backdrop {
    background-color: alpha(@titlebar_bg_color, 0.80);
}

UnityPanelWidget,
.unity-panel {
    border-width: 0 0 0px 0;
    border-style: solid;
    border-color: @panel_bg_color;
    background-color: alpha(@panel_bg_color, 0.2);
    background-image: none;
    color: @panel_bg_color;
    text-shadow: 0 1px 0 alpha(@dark_shadow, 0.5);
}

.unity-panel.menubar,
.unity-panel .menubar {
    border-width: 0 1px;
    color: @panel_fg_color;
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 0 0px;
    color: mix(@panel_fg_color, @base_color, 0.90);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    border-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-color: mix(@panel_bg_color, @panel_fg_color, 0.21);
    background-image: none;
    color: shade(@panel_fg_color, 1.08);
    text-shadow: 0 1px 0 alpha(@light_shadow, 0.5);
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}

/*
.unity-panel.menubar.menuitem:active,
.unity-panel.menubar .menuitem *:active {
    border-color: shade(@theme_selected_bg_color, 0.9);
    background-color: @theme_selected_bg_color;
}
*/

SheetStyleDialog.unity-force-quit {
    background-color: @theme_bg_color;
}

UnityPanelWidget *:visited {
	background-color: transparent;
	border-width:0;
    background-image: none;
}
